<h1>New game</h1>
<p>Find me in app/views/games/new.html.erb</p>

<form action="/games" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="name" placeholder="">
  <input type="submit">
</form>
